[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
spade = {git = "https://github.com/agent-based-information-flow-simulation/spade"}
black = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
